# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
dotnet_style_qualification_for_field=true:silent
dotnet_style_qualification_for_property=true:silent
dotnet_style_qualification_for_method=true:silent
dotnet_style_qualification_for_event=true:silent
csharp_style_var_for_built_in_types=true:silent
csharp_style_var_when_type_is_apparent=true:silent
csharp_style_var_elsewhere=true:silent
csharp_using_directive_placement = inside_namespace

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
csharp_style_expression_bodied_methods=when_on_single_line:silent
csharp_style_expression_bodied_properties=when_on_single_line:silent
csharp_style_expression_bodied_indexers=when_on_single_line:silent
csharp_style_expression_bodied_accessors=when_on_single_line:silent
csharp_style_expression_bodied_lambdas=when_on_single_line:silent
csharp_style_expression_bodied_local_functions=when_on_single_line:silent
csharp_style_expression_bodied_operators=when_on_single_line:silent
csharp_style_expression_bodied_constructors=when_on_single_line:silent
csharp_prefer_simple_using_statement=false:suggestion

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false
