.sdpi-folder-info {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    width: 187px;
    max-height: 32px;
    margin-top: 0;
    margin-left: 7px;
    display: inline-block;
    overflow: hidden;
    padding: 6px 4px;
    background-color: var(--sdpi-background);
    color: var(--sdpi-color);
}
.sdpi-file-label {
    letter-spacing: 2px;
}
.disabler {
    background-color: var(--sdpi-bgcolor);
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
}
