.sdpi-folder-info {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    width: 187px;
    max-height: 32px;
    margin-top: 0;
    margin-left: 7px;
    display: inline-block;
    overflow: hidden;
    padding: 6px 4px;
    background-color: var(--sdpi-background);
    color: var(--sdpi-color);
}
.sdpi-folder-button {
    cursor: pointer;
    min-height: 21px !important;
    height: 21px !important;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 0px 4px;
    margin: auto;
    margin-right: 0px;
}
.sdpi-folder-button:disabled {
    cursor: default;
}
.sdpi-folder-button:hover:enabled {
    background-color: #464646;
}
input[type="checkbox"] + label span {
    margin: 5px 4px 0 2px !important;
}
.max100 {
    flex-basis: 100%;
    flex-grow: 0;
}
.opacity-zero {
    opacity: 0;
}
.text-center {
    text-align: center;
}
label.input__margin {
    margin: 0 0 0 7px !important;
}
ol.sdpi-item-value {
    text-align: left !important;
}

ol.files-list {
    color: var(--sdpi-color);
    border-color: #303030;
    cursor: inherit;
    margin-top: 0;
    max-height: inherit;
    overflow: inherit;
    padding: 0 !important;
}
li.sortable {
    background-color: var(--sdpi-background);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 1px;
}
li.sortable:hover {
    background-color: var(--sdpi-background);
}
li.sortable span {
    padding: 8px 2px;
}
.sortable_icon {
    background: no-repeat center;
    flex-basis: 20px;
    flex-shrink: 0;
}
.drag-handle {
    cursor: move;
    background-image: url(../imgs/drag.svg);
}
.delete-handle {
    cursor: pointer;
    background-image: url(../imgs/cross.svg);
}
.delete-handle:hover {
    background-image: url(../imgs/cross-active.svg);
}
.sortable_value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flex-right {
    margin-left: auto;
}
